<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${poem.name})"></head>
<body>
<form th:action="@{|/cats/${poem.id}/favorite|}" method="post">
    <button type="submit" th:class="(${poem.favorite}? 'un' : '') + 'mark_favorite'"></button>
</form>

<span th:text="${poem.name}">Poem name</span>
<span th:text="${poem.content}">Contents should be here</span>
<span th:text="${poem.source}">Source</span>
<span th:text="${poem.submittedBy.username}">Submitted by here</span>

<a th:href="@{|/cats/${poem.id}/edit|}" >Edit</a>
</body>
</html>