<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(edit ${poem.name})"></head>
<body>
<div>
    <form th:action="@{/addoredit}" th:object="${poem}" method="post">
        <input th:field="*{name}" placeholder="Name"/>
        <input th:field="*{content}"/>
        <input th:field="*{source}" placeholder="Source"/>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" >Submit</button>
    </form>
    <form action="@{/delete}" th:object="${poem}" method="delete"></form>
</div>
</body>
</html>