<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <input th:field="*{firstName}" placeholder="First Name"/>
        <input th:field="*{lastName}" placeholder="Last Name"/>
        <input th:field="*{username}" placeholder="Username"/>
        <input th:field="*{password}" type="password" placeholder="Password"/>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>